{% extends '::base.html.twig' %}

{% block title %}{{ status_code }} {{ status_text }}{% endblock %}

{% block body %}
    <h1>Oops! And Error Occurred</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}