.git
node_modules
tests
var/cache/*
var/session/*
var/logs/*
web/app_dev.php
web/app.php
web/config.php
.dockerignore
.gitignore
.scrutinizer.yml
.travis.yml
CHANGELOG.md
composer.json
composer.lock
CONTRIBUTING.md
gulpfile.js
LICENSE
Makefile
package.json
phpunit.xml.dist
README.md
yarn.lock
