{% extends '::base.html.twig' %}

{% block title %}Symfony Cheat Sheet{% endblock %}

{% block breadcrumbs %}
    <li class="active">Symfony Cheat Sheet</li>
{% endblock %}

{% block body %}
    {{ html|md2html }}
{% endblock %}
