{% extends '::base.html.twig' %}

{% block title %}Contributors{% endblock %}

{% block breadcrumbs %}
    <li class="active">Contributors</li>
{% endblock %}

{% block body %}

    <h1>Symfony.si contributors</h1>

    <p>Symfony.si project was generously contributed by:</p>

    {% for key, contributor in contributors %}
        <div class="pull-left contributor"><a href="{{ contributor.html_url }}"><img src="{{ contributor.avatar_url }}" width="100" alt="{{ key }}" class="img-rounded"><br>{{ key }}</a></div>
    {% endfor %}

{% endblock %}
