{% extends '::base.html.twig' %}

{% block title %}Contact data sent successfully{% endblock %}

{% block body %}
    <h1>Contact data sent successfully</h1>

    <p>You've successfully sent email to administrators of the symfony.si website.</p>
{% endblock %}

