{% extends '::base.html.twig' %}

{% block title %}Ecosystem{% endblock %}

{% block breadcrumbs %}
    <li class="active">Symfony SI ecosystem</li>
{% endblock %}

{% block body %}
    <h1>Ecosystem</h1>

    <p>Here is a collection of Slovenian translation of Symfony ecosystem together with wider PHP and open source ecosystem, that is important for Slovenian Symfony users and developers. Translations are powered and regularly checked for updates by Symfony.si system.</p>

    <table class="table table-striped">
        <tr>
            <th width="180px">Translation</th>
            <th>Description</th>
            <th align="center">Repository</th>
            <th align="center">Status</th>
        </tr>

        {% for project in projects %}
            <tr>
                <td><a href="{{ project.link }}">{{ project.title }}</a></td>
                <td>{{ project.description }}</td>
                <td align="center"><a href="{{ project.repository }}"><i class="fa fa-github fa-lg"></a></i></td>
                <td align="center" style="color:green"><i class="fa fa-smile-o fa-lg"></i></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
