{% extends '::base.html.twig' %}

{% block title %}Join us{% endblock%}

{% block breadcrumbs %}
    <li class="active">Join us</li>
{% endblock %}

{% block body %}

    <h1>Join us</h1>

    <p>Symfony.si is also Slovenian Symfony user group and community. If you are a PHP developer, Symfony user or just exploring Symfony framework consider joining our community as well.</p>

    <hr>

    <p><a href="https://connect.sensiolabs.com/club/slovenia"><img src="{{ asset('assets/img/SensioLabsConnect.png') }}" alt="SenioLabsConnect Slovenia Club"></a></p>

    <p>SensioLabs Connect is a developer social network. Join the community, create your developer profile and start earning achievements for community.</p>

    <p>Join our <a href="https://connect.sensiolabs.com/club/slovenia">Symfony Slovenia club</a> for connecting Slovenian Symfony and PHP users and developers.</p>

    <hr>

    <p><a href="http://www.meetup.com/symfony-slovenia"><img src="{{ asset('assets/img/meetup.png') }}" alt="Symfony Slovenia Meetup"></a> Let's meet. Symfony user group Slovenia on <a href="http://www.meetup.com/symfony-slovenia">Meetup</a></p>

    <hr>

    <p><a href="https://github.com/symfony-si"><img src="{{ asset('assets/img/github.png') }}" alt="Symfony Slovenia on GitHub"></a> Let's code. Symfony.si source code and some other usefull resources are available also on <a href="https://github.com/symfony-si">GitHub</a>.</p>

{% endblock %}
