{% extends '::base.html.twig' %}

{% block title %}Useful Symfony resources{% endblock%}

{% block breadcrumbs %}
    <li class="active">Symfony Resources</li>
{% endblock %}

{% block body %}
    {{ html|raw }}
{% endblock %}
