{% extends '::base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block breadcrumbs %}
    <li class="active">Blog</li>
{% endblock %}

{% block body %}

    <h1>Symfony.si blog</h1>

    {% for post in posts %}
        {% set post_path = path(
        'blog_show', {
        'year': post.created|date("Y"),
        'month': post.created|date("m"),
        'day': post.created|date("d"),
        'num': post.num,
        'slug': post.slug
        }) %}

        <div class="media">
            <div class="media-left">
                <div style="font-size: 60px;" class="glyphicon glyphicon-edit text-muted"></div>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href=" {{ post_path }} ">{{ post.title }}</a></h2>
                <small>{{ post.created|date('Y-m-d') }}</small>
                <p>{{ post.intro }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
