{% extends '::base.html.twig' %}

{% block title %}Copyright{% endblock %}

{% block body %}
    <h1>SensioLabs Connect Slovenia Club</h1>

    <p>SensioLabs Connect is a developer social network. Join the community, create your developer profile and start earning achievements for community.</p>

    <p>Join our Symfony Slovenia club for connecting Slovenian Symfony and PHP users and developers:</p>

    <a class="btn btn-lg btn-success" href="https://connect.sensiolabs.com/club/slovenia">Join us</a>
{% endblock %}


