{% extends '::base.html.twig' %}

{% block title %}Contributors{% endblock %}

{% block body %}

    <h1>Symfony.si Contributors</h1>

    <p>Symfony.si project was generously contributed by:</p>

    <ul>
        {% for contributor in contributors %}
            <li><a href="{{ contributor.html_url }}"><img src="{{ contributor.avatar_url }}" /> {{ contributor.name }}</a></li>
        {% endfor %}
    <ul>

{% endblock %}


