{% extends '::base.html.twig' %}

{% block title %}Contributors{% endblock %}

{% block body %}

    <h1>Symfony.si contributors</h1>

    <p>Symfony.si project was generously contributed by:</p>

    {% for contributor in contributors %}
        <div class="pull-left contributor"><a href="{{ contributor.html_url }}"><img src="{{ contributor.avatar_url }}" width="100" alt="{{ contributor.name }}" class="img-rounded"><br>{{ contributor.name }}</a></div>
    {% endfor %}

{% endblock %}


