{% extends '::base.html.twig' %}

{% block title %}Copyrights{% endblock %}

{% block body %}
    {% if app.request.locale == 'en' %}
        <h1>Copyrights</h1>

        <h2>Symfony</h2>

        <p>Symfony is a registered trademark of Fabien Potencier. Read more on the usage of Symfony <a href="http://symfony.com/trademark">trademark</a> on the official Symfony page.</p>

        <h2>Symfony.si</h2>

        <p>Symfony.si website provides only information for local Symfony usergroup in Slovenia. Please go to the official symfony.com website for more information.</p>

        <p>Symfony.si application source code is available on <a href="https://github.com/symfony-si/symfony.si">GitHub</a> and is released under the MIT License:</p>


    {% else %}
        <h1>Avtorske pravice</h1>

        <h2>Symfony</h2>

        <p>Symfony je registrirana blagovna znamka Fabien Potencier-a. Preberite več o uporabi Symfony <a href="http://symfony.com/trademark">blagovne znamke</a> na uradni Symfony strani.</p>
        
        <h2>Symfony.si</h2>

        <p>Symfony.si spletna stran ponuja samo informacije za lokalno Symfony uporabniško skupino v Sloveniji. Pojdite na uradno symfony.com stran za več informacij.</p>

        <p>Izvorna koda Symfony.si aplikacije je na voljo na <a href="http://github.com/symfony-si/symfony.si">GitHub-u</a> in je izdana pod MIT licenco:</p>


	{% endif %}

        <p>Copyright (c) 2013 Peter Kokot</p>

        <p>Permission is hereby granted, free of charge, to any person obtaining a copy<br />
        of this software and associated documentation files (the "Software"), to deal<br />
        in the Software without restriction, including without limitation the rights<br />
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br />
        copies of the Software, and to permit persons to whom the Software is furnished<br />
        to do so, subject to the following conditions:</p>

        <p>The above copyright notice and this permission notice shall be included in all<br />
        copies or substantial portions of the Software.</p>

        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br />
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br />
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br />
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br />
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN<br />
        THE SOFTWARE.</p>

{% endblock %}


