{% extends '::base.html.twig' %}

{% block title %}{% trans %}Useful links{% endtrans %}{% endblock%}

{% block body %}
    {% if app.request.locale == 'en' %}
        <h1>Useful links</h1>

        <ul>
            <li><a href="http://symfony.com">Symfony.com</a> - officiala Symfony page</li>
        </ul>

    {% else %}
        <h1>Koristne povezave</h1>
        
        <ul>
            <li><a href="http://symfony.com">Symfony.com</a> - uradna Symfony stran</li>
        </ul>
    {% endif %}

{% endblock %}
