{% extends '::base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Symfony.si blog</h1>

    {% for post in posts %}
        <h2><span class="label label-default">{{ post.created|date("Y-m-d") }}</span> {{ post.title }}</h2>

        <p>{{ post.intro }} <a href="{{ path(
            'symfony_si_blog_show', {
                '_locale': app.request.locale,
                'year': post.created|date("Y"),
                'month': post.created|date("m"),
                'day': post.created|date("d"),
                'slug': post.slug
            }) }}">&gt;&gt;</a></p>
    {% endfor %}
{% endblock %}
